# ==========================================
# INSTRUÇÕES PARA NOVOS DESENVOLVEDORES:
# 1. Faça uma cópia deste arquivo e renomeie para ".env"
# 2. Configure seu usuário no mongo atlas
# 3. Substitua as tags <seu_usuario> e <sua_senha> pelas suas credenciais reais
# ==========================================

MONGO_URI=mongodb+srv://<seu_usuario>:<sua_senha>@trabalho-final-engenhar.fj4mcny.mongodb.net/?appName=trabalho-final-engenharia-dados
MONGO_DB_NAME=trabalho-final-engenharia-dados

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=<minio-access-key>
MINIO_SECRET_KEY=<minio-secret-key>

# URL do MinIO para uso no Dashboard quando rodado localmente (quando rodado via Docker a URL é definida no docker-compose.yml)
MINIO_DASHBOARD_ENDPOINT=http://minio:9000